<!-- basic scripts -->
<!--[if !IE]> -->
<script src="/static/js/jquery-2.0.3.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
<script src="/static/js/jquery-1.11.2.js"></script>
<![endif]-->
<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='/static/js/jquery-2.0.3.min.js'>"+"<"+"script>");
</script>
<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='/static/js/jquery-1.10.2.min.js'>"+"<"+"script>");
</script>
<![endif]-->
<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/static/admin/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
</script>
<script src="/static/js/bootstrap/js/bootstrap.min.js"></script>
<!-- page specific plugin scripts -->
<!--[if lte IE 8]>
  <script src="/static/admin/js/excanvas.min.js"></script>
<![endif]-->
<script src="/static/admin/js/jquery-ui-1.10.3.full.min.js"></script>
<script src="/static/admin/js/jquery.ui.touch-punch.min.js"></script>
<script src="/static/admin/js/jquery.slimscroll.min.js"></script>
<!-- ace scripts -->
<script src="/static/admin/js/ace-elements.min.js"></script>
<script src="/static/admin/js/ace.min.js"></script>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function($) {

    })
</script>