{% extends base.html %}
{% block css %}
<link rel="stylesheet" href="/static/admin/css/ui.jqgrid.css" />
{% end %}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="#">权限管理</a>
        </li>
        <li class="active">管理员列表</li>
    </ul>
{% end %}
{% block page_header %}
{% end %}
{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-7" >
                <div class="alert alert-danger hide" id="form-error"></div>
                <div class="widget-box">
                    <div class="widget-header">
                        <h4>管理员表单</h4>
                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="icon-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <form class="form-horizontal" role="form" id="admin_user_form" method="post">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="admin_user">管理员</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="admin_name" placeholder="管理员名称" class="col-xs-10 col-sm-5 col-md-7" data-require id="admin_user">
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="admin_email">邮箱</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="admin_email" placeholder="邮箱" class="col-xs-10 col-sm-5 col-md-7" data-require id="admin_email">
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="admin_password">密码</label>
                                    <div class="col-sm-9">
                                        <input type="password" name="admin_password" placeholder="密码" class="col-xs-10 col-sm-5 col-md-7" data-require id="admin_password">
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right">状态</label>
                                    <div class="radio">
                                        <label>
                                            <input name="status" type="radio" class="ace" data-require checked value="1"/>
                                            <span class="lbl">正常</span>
                                        </label>
                                        <label>
                                            <input name="status" type="radio" class="ace" data-require value="0"/>
                                            <span class="lbl">禁止</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="space-4"></div>
                                <div class="clearfix ">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button class="btn btn-xs btn-info" type="button" onclick="operateInfoAndRefresh(this,'admin_user_form', 'grid-table');"  data-action="jqgrid-add" data-url="/admin/system/adminuser">
                                            <i class="icon-ok bigger-110"></i>
                                            添加
                                        </button>
                                        &nbsp; &nbsp;
                                        <button class="btn btn-xs btn-info" type="button" onclick="operateInfoAndRefresh(this,'admin_user_form', 'grid-table');"  data-action="jqgrid-search" data-url="/admin/system/adminuser">
                                            <i class="icon-search bigger-110"></i>
                                            搜索
                                        </button>
                                        &nbsp; &nbsp;
                                        <button class="btn btn-xs" type="reset">
                                            <i class="icon-undo bigger-110"></i>
                                            重置
                                        </button>
                                    </div>
                                </div>
                                <div class="space-7"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table id="grid-table"></table>
		<div id="grid-pager"></div>
    </div>
</div>
{% end %}
{% block js_content %}
<script src="/static/admin/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="/static/admin/js/jqGrid/i18n/grid.locale-en.js"></script>
<script src="/static/admin/js/jquery.validate.min.js"></script>
<script src="/static/admin/js/common.js"></script>
<script>
$(document).ready(function(){
    var _xsrf = getCookie("_xsrf");
    $("#grid-table").jqGrid({   //myTab:装在数据的table id
        datatype: "json", //将这里改为使用JSON数据
        url:'/admin/system/adminuser', //这是数据的请求地址
        postData:{_xsrf:_xsrf , act:'list'},
        mtype: 'post',
        height: 300,
        autowidth:true,
        colNames:['操作', '编号', '管理员', '登录次数', '邮箱', 'IP', '注册时间', '更新时间', '状态', '密码'],
        colModel:[
            {name:'operate',index:'', width:80, sortable:false, resize:false,
                        formatter:'actions',
                        formatoptions:{
                            keys:true,
                            delOptions:{recreateForm: true, beforeShowForm:beforeDeleteCallback,
                                        url: "/admin/system/adminuser",
                                        mtype: 'post',
                                        serializeDelData: function(postData) {
                                                            return { 'postData': JSON.stringify(postData), _xsrf:_xsrf, act:'delete-one'}
                                               }
                            },
                            editformbutton:true,
                            editOptions:{recreateForm: true, beforeShowForm:function(form){
                                                                                    beforeEditCallback;
                                                                                    $('#admin_password', form).val('');
                                                                                  },
                                            url: "/admin/system/adminuser",
                                            mtype: 'post',
                                            width: 500,
                                            closeAfterEdit: true,
                                            serializeEditData: function(postData) {
                                                                    return { 'postData': JSON.stringify(postData), _xsrf:_xsrf, act:'edit'}
                                                               }
                            }
                        }
                    },
            {name:'id',index:'id', sorttype:"int",sortable: false},
            {name:'admin_name',index:'admin_name',sortable: false, editable: true, editoptions:{size:30}},
            {name:'login_times', index:'login_times', sortable: false},
            {name:'admin_email', index:'admin_email', sortable: false},
            {name:'register_ip',index:'register_ip',sortable: false},
            {name:'register_time',index:'register_time',sortable: false},
            {name:'update_time',index:'update_time',sortable: false},
            {name:'status',index:'status',editable: true, sortable: false,
                edittype:'select', editoptions:{value:{1:'正常',0:'禁止'}},
                formatter:function(cellvalue, options, rowObject){
                if(cellvalue==1){
                    return '<span class="label label-sm label-info arrowed arrowed-righ">正常</span>';
                }else{
                    return '<span class="label label-sm label-error arrowed arrowed-righ">禁止</span>';
                }
            }},
            {name:'admin_password',index:'admin_password',sortable: false, editable: true, hidden:true, editoptions:{size:30}, editrules:{edithidden:true}}
        ],
        pager: 'grid-pager',
        viewrecords: true, //是否显示行数
        multiselect: true, //是否支持多选
        loadComplete : function() {
						var table = this;
						setTimeout(function(){
							updatePagerIcons(table);
						}, 0);
					}
    });
    $('#grid-table').jqGrid('navGrid','#grid-pager',
                    {
                        edit: true,
						editicon : 'icon-pencil blue',
						add: false,
						addicon : 'icon-plus-sign purple',
						del: true,
						delicon : 'icon-trash red',
						search: false,
						searchicon : 'icon-search orange',
						refresh: true,
						refreshicon : 'icon-refresh green',
						view: true,
						viewicon : 'icon-zoom-in grey'
                    },
                    {url: "/admin/system/adminuser", mtype: 'post',closeAfterEdit: true,
                        beforeShowForm:function(form){
                            $('#admin_password', form).val('');
                        },
                        serializeEditData: function(postData) {
                                                return { 'postData': JSON.stringify(postData), _xsrf:_xsrf, act:'edit'}
                        },
                        width: 500, recreateForm: true
                    },
                    {url: "/admin/system/adminuser", mtype: 'post',closeAfterAdd: true , serializeAddData: function(postData) {
                                            return { 'postData': JSON.stringify(postData), _xsrf:_xsrf, act:'add'}}
                    },
                    {url: "/admin/system/adminuser", mtype: 'post',serializeDelData: function(postData) {
                                            return { 'postData': JSON.stringify(postData), _xsrf:_xsrf, act:'delete'}}
                    }
     );
    //表单验证
    $('#admin_user_form').validate({
        errorElement: 'div',
        errorClass: 'alert-danger',
        focusInvalid: true,
        rules: {
            admin_name: "required",
            admin_password: "required",
            admin_email: {required:true,email:true }
        },
        messages: {
            admin_name: "管理员名称不能为空",
            admin_password: {required:'管理员密码不能为空'},
            admin_email: {required:'管理员邮箱不能为空', email:"邮箱格式不正确"}
        }
    });
});
</script>
{% end %}