<div class="person_info">
    <a class="Img" href="http://my.oschina.net/u/919265"> <img
        class="LargePortrait"
        src="/ucenter/avatar/2015-11/sample.png" />
    </a>
    <span class="U">
        <i class="fa fa-mars"></i>
        <a class="Name" title="男" href="http://my.oschina.net/u/919265">大案要案命案在身</a>
        <span class="opts">
            <a href=""><i class="fa fa-commenting"></i></a>
        </span>
    </span>
    <div style="clear: both;"></div>
    <div class="stat" style="margin: 0 auto; text-aligh: center; width: 160px;">
        <a href="http://my.oschina.net/u/919265/fellow">关注(0)</a> <a
            href="http://my.oschina.net/u/919265/fans">粉丝(3)</a> <a
            href="http://www.oschina.net/question/3307_20931">积分(18)</a>
    </div>
    <div style="clear: both;"></div>
</div>
<div class="left_menu">
    <ul class="left_menu_list">
        <li class="active"><a href="">动态消息</a></li>
        <li><a href="">日记</a></li>
        <li><a href="#">个人信息</a></li>
        <li><a href="#">时间表</a></li>
        <li><a href="">好友</a></li>
        <li><a href="">相册</a></li>
    </ul>
</div>